<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">
 
  <!-- To save as "ebookshop\WEB-INF\web.xml" -->
  <servlet>
    <servlet-name>EBookShopQueryServlet</servlet-name>
    <servlet-class>net.bitacademy.java45.servlets.EshopQueryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EBookShopOrderServlet</servlet-name>
    <servlet-class>net.bitacademy.java45.servlets.EshopOrderServlet</servlet-class>
  </servlet>
 
  <!-- Note: All <servlet> elements must be placed
       in front of <servlet-mapping> elements -->

  <servlet-mapping>
    <servlet-name>EBookShopQueryServlet</servlet-name>
    <url-pattern>/eshopquery</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EBookShopOrderServlet</servlet-name>
    <url-pattern>/eshoporder</url-pattern>
  </servlet-mapping>

</web-app>